<!--
  Generated template for the CreateQueuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Create Queue</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<form  [formGroup]="createQueueForm" id='createQueueForm' (ngSubmit)='onSubmit(createQueueForm)'>
  <ion-row>
    <ion-col>
        <ion-item  id="item1" [ngClass]="{'error-border':!createQueueForm.controls.queueName.valid && createQueueForm.controls.queueName.touched}">
          <ion-label ><ion-icon name="card"></ion-icon></ion-label>
          <ion-input placeholder='Title' clearinput  formControlName="queueName" type="text" ></ion-input>
       
        </ion-item>
        <ion-item  id="item" *ngIf="createQueueForm.controls.queueName.hasError('required') && createQueueForm.controls.queueName.touched">
            <p>Sorry, field Title is required!</p>
          </ion-item>      
          <ion-item id="item" *ngIf="createQueueForm.controls.queueName.hasError('minlength') && createQueueForm.controls.queueName.touched">
            <p>Minimum title length is 8!</p>
          </ion-item>
          <ion-item *ngIf="createQueueForm.controls.queueName.hasError('maxlength') && createQueueForm.controls.queueName.touched">
            <p>Maximum title length is 30!</p>
          </ion-item>
        
        <ion-item  id="item2" [ngClass]="{'error-border':!createQueueForm.controls.owner.valid && createQueueForm.controls.owner.touched}">
          <ion-label><ion-icon name="stats"></ion-icon> Priority:</ion-label>
          <ion-select class="form-control" formControlName="owner">
            <ion-option *ngFor="let p of priority" [value]="p.value">{{p.text}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item  id="item3" [ngClass]="{'error-border':!createQueueForm.controls.group.valid && createQueueForm.controls.group.touched}">
          <ion-label><ion-icon name="people"></ion-icon> Group:</ion-label>
          <ion-select class="form-control" formControlName="group">
            <ion-option *ngFor="let p of priority" [value]="p.value">{{p.text}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item  id="item4" [ngClass]="{'error-border':!createQueueForm.controls.closureTime.valid && createQueueForm.controls.closureTime.touched}">
          <ion-label><ion-icon name="timer"></ion-icon></ion-label>
          <ion-input placeholder=' Closure Time (Hours)' clearinput formControlName="closureTime" type="number" ></ion-input>
        </ion-item>
        <ion-item id="item" *ngIf="createQueueForm.controls.closureTime.hasError('min') && createQueueForm.controls.closureTime.touched">
            <p>Least value of hours is 1</p>
          </ion-item>
          <ion-item id="item" *ngIf="createQueueForm.controls.closureTime.hasError('max') && createQueueForm.controls.closureTime.touched">
              <p>Maximum value of hours is 100</p>
            </ion-item>
        <ion-item  id="item5" [ngClass]="{'error-border':!createQueueForm.controls.escalationTime.valid && createQueueForm.controls.escalationTime.touched}">
          <ion-label><ion-icon name="time"></ion-icon></ion-label>
          <ion-input placeholder='Escalation Time (Hours)' clearinput formControlName="escalationTime" type="number" ></ion-input>
        </ion-item>
        <ion-item id="item" *ngIf="createQueueForm.controls.escalationTime.hasError('min') && createQueueForm.controls.escalationTime.touched">
            <p>Least value of hours is 1</p>
          </ion-item>
          <ion-item id="item" *ngIf="createQueueForm.controls.escalationTime.hasError('max') && createQueueForm.controls.escalationTime.touched">
              <p>Maximum value of hours is 100</p>
            </ion-item>
        <ion-item  id="item6" [ngClass]="{'error-border':!createQueueForm.controls.canAssignSelf.valid && createQueueForm.controls.canAssignSelf.touched}">
          <ion-label text-wrap item-left style="color:#999">Group members can assign to themselves</ion-label>
          <ion-checkbox formControlName="canAssignSelf" item-right></ion-checkbox>
        </ion-item>
        <ion-list radio-group formControlName="workFlowOptions">
          <ion-list-header style="font-size: 1.7rem;">
            Select workflow options
          </ion-list-header>
          <ion-item>
              <ion-label class='radio_button' text-wrap item-left>Workflow not required</ion-label>  
              <ion-radio value="1" item-center></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label class='radio_button' text-wrap item-left>Start on issue creation</ion-label>  
              <ion-radio value="2" item-center></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label class='radio_button' text-wrap item-left>Start on issue resolved</ion-label>  
              <ion-radio value="3" item-center></ion-radio>
          </ion-item>
        </ion-list>
        <ion-item  id="item7" [ngClass]="{'error-border':!createQueueForm.controls.mandatoryRootCause.valid && createQueueForm.controls.mandatoryRootCause.touched}">
            <ion-label text-wrap item-left style="color:#999">Root cause mandatory</ion-label>
            <ion-checkbox formControlName="mandatoryRootCause" item-right></ion-checkbox>
          </ion-item>
          <button ion-button full color="primary" [disabled]='createQueueForm.invalid' style="margin-top: 3%;" type="submit">Submit</button>  
        </ion-col>
  </ion-row>
</form>
</ion-content>
