
<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
     <ion-col col-md-4>

        <svg class="svg-shape" xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" viewBox="0 0 48 48" style="opacity: 1; margin-left: 25%" preserveAspectRatio="none">
	        <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 6c3.31 0 6 2.69 6 6 0 3.32-2.69 6-6 6s-6-2.68-6-6c0-3.31 2.69-6 6-6zm0 28.4c-5.01 0-9.41-2.56-12-6.44.05-3.97 8.01-6.16 12-6.16s11.94 2.19 12 6.16c-2.59 3.88-6.99 6.44-12 6.44z" fill="rgb(17, 121, 112)" stroke="rgb(170,170,170)" stroke-width="0" stroke-linecap="square" stroke-alignment="inner" vector-effect="non-scaling-stroke" stroke-miterlimit="100"></path>
	    </svg>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
        <ion-card id="item">
        <ion-item  id="item" [ngClass]="{'error-border':!authForm.controls.username.valid && authForm.controls.username.touched}">
            <ion-label floating><ion-icon name="person"></ion-icon> Username</ion-label>
            <ion-input formControlName="username" type="email" ></ion-input>
        </ion-item>
  
        <ion-item  id="item" *ngIf="authForm.controls.username.hasError('required') && authForm.controls.username.touched">
            <p>Sorry, field username is required!</p>
        </ion-item>      
        <ion-item id="item" *ngIf="authForm.controls.username.hasError('minlength') && authForm.controls.username.touched">
            <p>minimum username length is 8!</p>
        </ion-item>
        <ion-item *ngIf="authForm.controls.username.hasError('maxlength') && authForm.controls.username.touched">
            <p>maximum username length is 30!</p>
        </ion-item>
        </ion-card>
        <ion-card id="item">
        <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.password.valid && authForm.controls.password.touched}">
            <ion-label floating><ion-icon name="key"></ion-icon> Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item id="item" *ngIf="authForm.controls.password.hasError('required') && authForm.controls.password.touched">
            <p>field password is required!</p>
        </ion-item>
        <ion-item  id="item" *ngIf="authForm.controls.password.hasError('minlength') && authForm.controls.password.touched">
            <p>minimum password length is 8!</p>
        </ion-item>                
        </ion-card>
        <button ion-button full color="primary" [disabled]="!authForm.valid" style="margin-top: 20px;" type="submit">Login</button>        
        </form>
        <ion-label>{{errorMessage}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
