page-home {

ion-content{
background: linear-gradient(to bottom right, #117970 , black);
}
#item{
background-color:rgba(087,099,909,0)
}
.item p {
    color: #ec7373;
}

.item-label-floating .text-input{
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: calc(100% - 8px);
    color: white;
}
}
