page-issue-list {
	.row{
		background-color: white;
	}
	 .ion-spinner{
	  	width: 28px;
	  	height: 28px;
	  	stroke: #444;
	  	fill: #222;
	}
	.issue{
		text-align: center;
	}
	.searchbar{
	    background: inherit;
	    padding:0px;
	    margin-bottom: 5%;
	}
	.row{
	    padding-top: 2%;
	    padding-bottom: 1%;
		border-bottom: 3px black solid;
	    border-radius: 5px;
	}
	.label{
		margin:0px;
	}
	#customRow{
		background-color: white;
		border-bottom: 3px black solid;
	    background-color: #0747a6;
	    border-radius: 5px;
	    color: white;
	}
	
	#searchcss{
		background-color: white;
    	border: 0px;
	}

	.ion-spinner{
	  	width: 28px;
	  	height: 28px;
	  	stroke: #444;
	  	fill: #222;
	}
	.col{
	   	padding: 0;
	}
	.loading{
	 width:10px;
	 height:10px;

	}
}