<ion-header>
  <ion-navbar color="blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title > Issue List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: white">
   <ion-row id="searchcss">
   <ion-col col-4>
    <ion-searchbar placeholder="Search by title" (ionInput)="getItems($event)"></ion-searchbar>
   </ion-col>
	</ion-row>
	<ion-list class="issue">
			<ion-row id="customRow"><ion-col col-1>Request Id</ion-col><ion-col col-2> Queue Name</ion-col><ion-col col-1>Title</ion-col><ion-col col-2>Created On</ion-col><ion-col col-2>Status</ion-col><ion-col col-2>Requestor</ion-col><ion-col col-1>Type</ion-col><ion-col col-1>Priority</ion-col></ion-row>
			<ion-row *ngFor="let issue of items" (click)="viewDetail(issue)">
				<ion-col col-1>
				{{issue.id}}
                </ion-col>
				<ion-col col-2>                
				{{issue.q_name}}
				</ion-col>
				<ion-col col-1>
					{{issue.title}}
				</ion-col>
				<ion-col col-2>
					{{issue.created_on|date}}
				</ion-col>
				<ion-col col-2>
					{{issue.status_desc}}
				</ion-col>
				<ion-col col-2>
					{{issue.requestor}}		
				</ion-col>
				<ion-col col-1>
					{{issue.tkt_type}}		
				</ion-col>
				<ion-col col-1>
					{{issue.priority}}
				</ion-col>
			</ion-row>
	</ion-list>
</ion-content>
