<ion-header>
  <ion-navbar color="dark">
    <button [disabled]="isBrowser" ion-button menuToggle>
      <ion-icon [hidden]="isBrowser" name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-content padding>
<ion-item item-left id="inputwrapper">
  <ion-label color="primary"><h1 style="font-size: 4rem;">Detail Request</h1></ion-label>
 <button  (click)="edit();" item-right style="background-color: black;">
  <ion-icon id="iconEdit" name="create">Edit</ion-icon>
</button>
</ion-item>
 	<ion-row id="rowcss">
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Title:</span><span style="padding-left:2%">{{id.title}}</span>
 		</ion-col>
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Unit Serial Number:</span><span style="padding-left:2%">{{id.xdata.unit_sr_no}}</span>
 		</ion-col>
 	</ion-row>
 	 	<ion-row id="rowcss">
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Unit Location:</span><span style="padding-left:2%">{{id.xdata.unit_location}}</span>
 		</ion-col>
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Priority:</span><span style="padding-left:2%">{{priority[id.priority]}}</span>
 		</ion-col>
 	</ion-row>
 	 	<ion-row id="rowcss">
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Due On:</span><span style="padding-left:2%">{{id.due_date|date:'medium'}}</span>
 		</ion-col>
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Type:</span><span style="padding-left:2%">{{type[id.type_id]}}</span>
 		</ion-col>
 	</ion-row>
 	 	<ion-row id="rowcss">
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Status:</span><span style="padding-left:2%">{{id.status_desc}}</span>
 		</ion-col>
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Queue:</span><span style="padding-left:2%">{{id.q_name}}</span>
 		</ion-col>
 	</ion-row>
 	 	<ion-row id="rowcss">
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Email_Id:</span><span style="padding-left:2%">{{id.requestor}}</span>
 		</ion-col>
 		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Contact Number:</span><span style="padding-left:2%">7895786987</span>
 		</ion-col>
	 </ion-row>
	 <ion-row id="rowcss">
		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Description:</span><span style="padding-left:2%">{{id.description}}</span>
		</ion-col>
		<ion-col col-6>
				<span style="color:#6fe8ec;font-weight: bold;">Assignee:</span><span style="padding-left:2%">{{id.assignor_name}}</span>
		</ion-col>
	</ion-row>
	
	<ion-item item-left id="inputwrapper" style="padding-left: 0;">
		<ion-label color="primary">
			<h1 style="font-size: 2rem;">Documents Linked</h1>
		</ion-label>
		<button (click)="addFile()" item-right style="background-color: black;">
			<ion-icon style="font-size: 130%;padding-bottom: 5%;" id="iconEdit" name="add">Add</ion-icon>
		</button>
	</ion-item>
	<ion-list [hidden]="fileList.length==0">
			<ion-label color="primary">
					<h1 style="font-size: 2rem;">Selected Documents</h1>
				</ion-label>
		
		<ion-row class="customRow">
				<ion-col class="customCol" col-4>
					fileName
				</ion-col>
				<ion-col class="customCol" col-2>
						Size
					</ion-col>
			</ion-row>
			<ion-row class="customRow" *ngFor="let file of fileList">
					<ion-col class="customDateCol" col-4>
						{{file.name}}
					</ion-col>
					<ion-col class="customDateCol" col-2>
							{{file.size}} bytes
						</ion-col>
				</ion-row>
				<ion-textarea class="textArea" placeholder="Add Description"  [(ngModel)]="fileDescription"></ion-textarea>
				<button class='btn' ion-button (click)="submitFile()" item-left>Submit Documents</button>				
				<ion-label color="primary">
						<h1 style="font-size: 2rem;">Linked Documents</h1>
					</ion-label>
			
	</ion-list>


	<ion-list>
		<ion-row class="customRow">
			<ion-col class="customCol" col-4>
				Date
			</ion-col>
			<ion-col class="customCol" col-4>
				User
			</ion-col>
			<ion-col class="customCol" col-4>
				File Name
			</ion-col>
		</ion-row>
		<ion-row class="customRow" *ngFor='let document of linkedDocuments'>
			<ion-col class="customDateCol" col-4>
				{{document.up_date | date:'medium'}}
			</ion-col>
			<ion-col class="customDateCol" col-4>
				{{document.full_name}}
			</ion-col>
			<ion-col class="customDateCol" col-4>
			 <button (click)="downloadFile(document)">
				<ion-icon style="padding-right:2%;" name="download"></ion-icon>
			</button>	{{document.file_name}}
			</ion-col>
		</ion-row>
	</ion-list>
		<ion-item item-left id="inputwrapper" style="padding-left: 0;">
			<ion-label color="primary">
				<h1 style="font-size: 2rem;">Updates:</h1>
			</ion-label>
		</ion-item>
	 	<ion-list>
		<ion-row class="customRow">
			<ion-col class="customCol" col-4>
				Date
			</ion-col>
			<ion-col class="customCol" col-4>
				User
			</ion-col>
			<ion-col class="customCol" col-4>
				File Name
			</ion-col>
		</ion-row>
		<ion-row class="customRow" *ngFor='let update of updates'>
			<ion-col class="customDateCol" col-4>
				{{update.up_date | date:'medium'}}
			</ion-col>
			<ion-col class="customDateCol" col-4>
				{{update.updated_by}}
			</ion-col>
			<ion-col class="customDateCol" col-4>
				{{update.remarks}}
			</ion-col>
		</ion-row>

	</ion-list>

	<ion-label item-left color="primary" style="margin-bottom:0">
		<p style="font-size: 2rem;">Enter update</p>
	</ion-label>
	<ion-textarea class="textArea" placeholder="Add update" [value]="addUpadates" [(ngModel)]="addUpadates"></ion-textarea>
	<button class='btn' ion-button (click)="addUpdates()" item-left>Add update</button>	
</ion-content>