page-update-request {
	#iconEdit{
		color: white;
		background-color: black;
		font-size: 190%;
	}
	.input-wrapper {
		-webkit-flex: initial;
		flex: initial;
	}
	.item{
		background-color: #000;
	}
	.item-inner {
		border-bottom:0px;
	}
	#rowcss{
	    color: white;
   	    padding: 1%;
	}
	.customRow{
		color: white;
		margin-bottom: 1%;
	}
	.h1{
		font-size: 4rem;
	}
	.customCol{
		background-color:#567475;
		text-align:center;
	}
	.customDateCol{
		background-color:rgba(255,255,0,0);
		text-align:center;
		border-bottom:1px solid white;
		
	}
	.textArea{
		border: 1px solid #567475;
		color:white;
	}
	.btn{
		margin-top: 1%;
	}
}