page-create-request {
.content{
    color: #ffffff;
    background-color: #1d1d1d;
}
#create{ width: 25%;
color:white;
}
.item{
    color: #ffffff;
    background-color: #000000;
}

ion-select {
	    max-width: 100%;
}
.item p {
    color: #ec7373;
}
}
