<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Create Request</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding  >
    <form  id="form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
        <ion-row>
        <ion-col>
            <ion-card id="item">
              <ion-item  id="item" [ngClass]="{'error-border':!authForm.controls.title.valid && authForm.controls.title.touched}">
                <ion-label floating><ion-icon name="card"></ion-icon> Title</ion-label>
                <ion-input formControlName="title" type="text" ></ion-input>
              </ion-item>
              <ion-item  id="item" *ngIf="authForm.controls.title.hasError('required') && authForm.controls.title.touched">
                <p>Sorry, field Title is required!</p>
              </ion-item>      
              <ion-item id="item" *ngIf="authForm.controls.title.hasError('minlength') && authForm.controls.title.touched">
                <p>Minimum title length is 8!</p>
              </ion-item>
              <ion-item *ngIf="authForm.controls.title.hasError('maxlength') && authForm.controls.title.touched">
                <p>Maximum title length is 30!</p>
              </ion-item>
            </ion-card>
            <ion-card id="item">
              <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.unit_sr_no.valid && authForm.controls.unit_sr_no.touched}">
                <ion-label floating><ion-icon name="clipboard"></ion-icon> Unit Serial Number</ion-label>
                <ion-input formControlName="unit_sr_no" type="text"></ion-input>
              </ion-item>
              <ion-item id="item" *ngIf="authForm.controls.unit_sr_no.hasError('required') && authForm.controls.unit_sr_no.touched">
                <p>Field  Unit Serial Number is required!</p>
              </ion-item>
              <ion-item  id="item" *ngIf="authForm.controls.unit_sr_no.hasError('minlength') && authForm.controls.unit_sr_no.touched">
                <p>Minimum Unit Serial Number length is 8!</p>
              </ion-item>                
            </ion-card>
            <ion-card id="item">
                <ion-item  id="item" [ngClass]="{'error-border':!authForm.controls.unit_location.valid && authForm.controls.unit_location.touched}">
                    <ion-label floating><ion-icon name="locate"></ion-icon> Unit Location</ion-label>
                    <ion-input formControlName="unit_location" type="text" ></ion-input>
                </ion-item>

                <ion-item  id="item" *ngIf="authForm.controls.unit_location.hasError('required') && authForm.controls.unit_location.touched">
                    <p>Sorry, field Unit Location is required!</p>
                </ion-item>      
                <ion-item id="item" *ngIf="authForm.controls.unit_location.hasError('minlength') && authForm.controls.unit_location.touched">
                    <p>Minimum Unit Location length is 8!</p>
                </ion-item>
                <ion-item *ngIf="authForm.controls.unit_location.hasError('maxlength') && authForm.controls.unit_location.touched">
                    <p>Maximum Unit Location length is 30!</p>
                </ion-item>
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.pinCode.valid && authForm.controls.pinCode.touched}">
                    <ion-label floating><ion-icon name="pin"></ion-icon> Pin Code</ion-label>
                    <ion-input formControlName="pinCode" type="text"></ion-input>
                </ion-item>
                <ion-item id="item" *ngIf="authForm.controls.pinCode.hasError('required') && authForm.controls.pinCode.touched">
                    <p>Field  Pin Code is required!</p>
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.pinCode.hasError('minlength') && authForm.controls.pinCode.touched">
                    <p>Pin Code length should be 6</p>
                </ion-item>   
                <ion-item *ngIf="authForm.controls.pinCode.hasError('maxlength') && authForm.controls.pinCode.touched">
                    <p>Maximum pinCode length is 6!</p>
                </ion-item>             
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.email.valid && authForm.controls.email.touched}">
                    <ion-label floating><ion-icon name="mail"></ion-icon> Email_Id</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
                <ion-item id="item" *ngIf="authForm.controls.email.hasError('email', 'email') && authForm.controls.email.touched">
                    <p>Field Email Id is required!</p>
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.email.hasError('pattern') && authForm.controls.email.touched">
                    <p>Please enter valid mail id</p>
                </ion-item>                
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.contact.valid && authForm.controls.contact.touched}">
                    <ion-label floating><ion-icon name="call"></ion-icon> Contact Number</ion-label>
                    <ion-input formControlName="contact" type="number"></ion-input>
                </ion-item>
                <ion-item id="item" *ngIf="authForm.controls.contact.hasError('required') && authForm.controls.contact.touched">
                    <p>Field Contact Number is required!</p>
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.contact.hasError('minlength') && authForm.controls.contact.touched">
                    <p> Contact Number length is 10!</p>
                </ion-item>     
                <ion-item *ngIf="authForm.controls.contact.hasError('maxlength') && authForm.controls.contact.touched">
                    <p>Maximum contact length is 10!</p>
                </ion-item>               
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.due_date.valid && authForm.controls.due_date.touched}">
                    <ion-label ><ion-icon name="calendar"></ion-icon>  Due on </ion-label>
                    <ion-input formControlName="due_date" type="datetime-local" placeholder=""></ion-input>
                </ion-item>
                <ion-item id="item" *ngIf="authForm.controls.due_date.hasError('required') && authForm.controls.due_date.touched">
                    <p>Field  Due on is required!</p>
                </ion-item>             
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.requested_on.valid && authForm.controls.requested_on.touched}">
                    <ion-label ><ion-icon name="calendar"></ion-icon>  Requested on </ion-label>
                    <ion-input formControlName="due_date" type="datetime-local" placeholder=""></ion-input>
                </ion-item>            
            </ion-card>
            <ion-card id="item">
                <ion-item id="item" [ngClass]="{'error-border':!authForm.controls.description.valid && authForm.controls.description.touched}">
                    <ion-label floating ><ion-icon name="create"></ion-icon> Description</ion-label>
                    <ion-textarea  style="border-bottom:1px solid #1b776e;" formControlName="description" ></ion-textarea>
                </ion-item>
                <ion-item id="item" *ngIf="authForm.controls.description.hasError('required') && authForm.controls.description.touched">
                    <p>Field Description is required!</p>
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.description.hasError('minlength') && authForm.controls.description.touched">
                    <p>Minimum Description length is 8!</p>
                </ion-item>                
            </ion-card>
        </ion-col>
        <ion-col>
            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                    <ion-label floating ><ion-icon name="stats"></ion-icon> Priority:</ion-label>
                      <ion-select class="form-control" formControlName="priority">
                          <ion-option *ngFor="let p of priority" [value]="p.value">{{p.text}}</ion-option>
                      </ion-select>
                    
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.priority.hasError('required') && authForm.controls.title.touched">
                    <p>Sorry, field priority is required!</p>
                </ion-item>      
            </ion-card>

            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >  <ion-icon name="log-in"></ion-icon>
  Type of Request:</ion-label>
                      <ion-select class="form-control" formControlName="type">
                          <ion-option *ngFor="let p of issue_type_list" [value]="p.id">{{p.type}}</ion-option>
                      </ion-select>

                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.type.hasError('required') && authForm.controls.type.touched">
                    <p>Sorry, field Type of request is required!</p>
                </ion-item> 
            </ion-card>
             <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >  <ion-icon name="log-in"></ion-icon>
  Queue:</ion-label>
                      <ion-select class="form-control" formControlName="queue">
                          <ion-option *ngFor="let p of queue_list" [value]="p.id">{{p.name}}</ion-option>
                      </ion-select>
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.queue.hasError('required') && authForm.controls.queue.touched">
                    <p>Sorry, field Queue of request is required!</p>
                </ion-item> 
            </ion-card>
            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >  <ion-icon name="log-in"></ion-icon>
  Product:</ion-label>
                      <ion-select class="form-control" formControlName="product">
                          <ion-option *ngFor="let p of product_list" [value]="p.id">{{p.description}}</ion-option>
                      </ion-select>

                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.product.hasError('required') && authForm.controls.product.touched">
                    <p>Sorry, field product is required!</p>
                </ion-item> 
            </ion-card>
            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >  <ion-icon name="log-in"></ion-icon>
                Category:</ion-label>
                <ion-select class="form-control" formControlName="category">
                    <ion-option *ngFor="let p of category" [value]="p.value">{{p.text}}</ion-option>
                </ion-select>

                </ion-item>
            </ion-card>
            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >Status:</ion-label>
                      <ion-select class="form-control" formControlName="status">
                          <ion-option *ngFor="let p of issue_status_list" [value]="p.id">{{p.description}}</ion-option>
                      </ion-select>
                   
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.status.hasError('required') && authForm.controls.status.touched">
                    <p>Sorry, field status is required!</p>
                </ion-item>               
            </ion-card>
            <ion-card id="item">
                <ion-item  id="item">
                <!-- <ion-input formControlName="title" type="text" ></ion-input> -->
                <ion-label floating >Assignee:</ion-label>
                      <ion-select class="form-control" formControlName="name">
                          <ion-option *ngFor="let p of user_list" [value]="p.id">{{p.full_name}}</ion-option>
                      </ion-select>
                   
                </ion-item>
                <ion-item  id="item" *ngIf="authForm.controls.name.hasError('required') && authForm.controls.name.touched">
                    <p>Sorry, field Assignee is required!</p>
                </ion-item>               
            </ion-card>
            <ion-card>
            <ion-item>
                <input formControlName="file" type="file" [multiple]="multiple" #fileInput>
            </ion-item> 
        </ion-card>   
        </ion-col>
        </ion-row>   
                <button ion-button full color="primary" [disabled]="authForm.invalid" style="margin-top: 20px;" type="submit">Submit</button>  
  
    </form>
</ion-content>
