page-menu {
	.split-pane-md.split-pane-visible > .split-pane-side {
	    min-width: 10%;
	    max-width: 17%;
	    border-right: 1px solid #dedede;
	    border-left: 0;
	}
	.no-scroll .scroll-content{
    overflow: hidden;
  }
  .content{
  background-color: #000000;
  }
  .customButton
  {
  color: #fff;
    background-color: #0747a6;
  }
.selectedMenu { background-color: purple; color: white; }
}
