<ion-split-pane when="(min-width: 1000px)">

   <!--  our side menu  -->
<ion-menu [content]="content">
  <ion-content  class="no-scroll" style="background-color: #0747a6;">
    <ion-title>
    <ion-card style="font-size: 200%;
    padding: 20%;background-color: #0747a6;
    color: white;" text-center class="hide-card">
       Yukthi
    </ion-card>
    </ion-title>
    <ion-list>
      <button class="customButton" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" 
      [ngClass]="{'selectedMenu' : (p.title == selectedmenu)}">  <ion-icon style="font-size: 200%;color: white;background-color:#0747a6;width: 14%;text-align: center;" name={{p.icon}} large></ion-icon>
       <span style="    font-size: 100%;
    padding: 5%;">
        {{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>
   </ion-menu>
  <!-- the main content -->
  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>